.contacts {
  display: none;
  margin-left: auto;

  @include mq(tablet) {
    display: block;
  }

  @include mq(desktop) {
    display: flex;
  }

  /*  Иконки */
  &_icon {
    display: inline-block;
    fill: currentColor;
    align-items: baseline;

    @include mq(tablet) {
      margin-right: 8px;
    }

    @include mq(desktop) {
      margin-right: 10px;
    }
  }

  &__item {
    @include mq(tablet-only) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include mq(desktop) {
      &:not(:first-child) {
        margin-left: 52px;
      }
    }
  }
}

.contacts__link {
  display: flex;
  color: $text-color;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.02em;
  align-items: center;

  @include mq(tablet) {
    font-size: 12px;
    line-height: 1.16;
  }

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $logo-color-web;
    }
  }
}
