.footer {
  padding: 60px 0;
  background: #2f303a;
}

.footer__conteiner {
  @include mq(tablet-only) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include mq(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__group {
  @include mq(tablet-only) {
    display: block;
  }

  @include mq(desktop) {
    margin-right: 70px;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;

  @include mq(tablet-only) {
    display: block;
  }

  @include mq(desktop) {
    display: block;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.7;
  list-style: none;
  font-style: normal;
  letter-spacing: 0.03em;

  @include mq(tablet-only) {
    display: block;
  }

  @include mq(desktop) {
    display: block;

    & .ad + .ad {
      margin-bottom: 9;
    }
  }
}

/* футер почта/телефон */
.page-address,
.page-address-link {
  text-decoration: none;
  transition: color 250ms $timing-function;
}
.page-address {
  color: $page-color;
}

.page-address-link {
  color: rgba(255, 255, 255, 0.6);

  /* изменение цвета футер */
  &:hover,
  &:focus {
    color: $logo-color-web;
  }
}


/* Форма футера */
.footer-form {
   margin-top: 60px;

  @include mq(desktop) {
    list-style: none;
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-next-title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $page-color;
  margin-top: 0;
  margin-bottom: 20px;


  @include mq(desktop) {
    display: block;
  }
}



.footer-form-input {
  padding-left: 15px;
  width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: transparent;
  transition: border-color 250ms $timing-function,
  color 250ms var(--timing-function), box-shadow 250ms $timing-function;

  @include mq(desktop) {
    display: block;
    width: 358px;
    margin-bottom: 20px;
  }

  /* Смена цвета */
  &:focus,
  &:hover {
    border-color: $logo-color-web;
  }
}

.footer-modal-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @include mq(tablet-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.footer-form-button {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: $page-color;
  background: $logo-color-web;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding-left: 30px;
  cursor: pointer;

  @include mq(desktop) {
    margin-top: 0;
  }
}

.footer-modal-icon {
  margin-left: 10px;
  margin-right: 8px;
}
