.header {
  border-bottom: 1px solid #ececec;

    &__conteiner {
      display: flex;
      align-items: center;
    }
  }



.header__logo {
  padding: 16px 0;
 
  @include mq(tablet) {
    margin-right: 88px;
  }

  @include mq(desktop) {
    margin-right: 94px;
  }
}
