.menu-button {
  position: relative;
  z-index: 100;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @include mq(tablet-only) {
    z-index: 0;
  }
}

.menu_icon--open {
  opacity: 1;
  fill: #000000;
  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $logo-color-web;
  }
}

.menu-button.is-open .menu_icon--open {
  opacity: 0;
}

.menu_icon--close {
  opacity: 0;
  fill: #212121;
  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $logo-color-web;
  }
}

.menu-button.is-open .menu_icon--close {
  opacity: 1;
}

.menu__icon {
  width: 100%;
  height: 100%;
}

// <!-- Модальное окно бургер меню -->
.menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX(100%);

  max-width: 480px;
  width: 100%;
  height: 100%;
  padding: 40px 48px;

  background-color: $page-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  transition: transform 250ms $timing-function;

  &.is-open {
    transform: translateX(0);
  }

  @include mq(tablet-only) {
   z-index: 0;
  }
}

.menu__nav-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__nav-link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent;
  color: fill 250ms $timing-function;

  &:hover,
  &:focus {
    color: $logo-color-web;
  }
}

// Секция телефон и почта///////
.menu__group {
  margin-top: auto;
  margin-bottom: 64px;

  font-family: $main-font;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu__item-phone {
  margin-bottom: 32px;
}

.menu__phone {
  color: $logo-color-web;
  font-size: 34px;
  line-height: 1.25;
}

.menu__mail {
  color: $text-color;
  font-size: 24px;
  line-height: 1.17;
}

// Соц. сети///////
.public-socials {
  display: flex;
  flex-wrap: wrap;
}

.public-socials__item {
  display: flex;

  @media screen and (max-width: 479px) {
    margin-bottom: 10px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }

  &:first-child {
    padding-left: 0;
  }
}

.public-socials__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.public-socials__link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $logo-color-web;
}
